@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	// Declare global colors
	html {
		--color-primary: #4285f4;
		--color-secondary: #34a853;
		--color-buttons: #fbbc05;
		--color-typography: #ea4335;

		// Apply Poppins font globally
		font-family: 'Poppins', sans-serif;
	}

	@import 'themes/theme1'; // Import custom themes
}

@layer base {
	body {
		// Ensure body font inherits Poppins and default text color
		@apply font-normal text-black;
		font-family: 'Poppins', sans-serif;
	}

	// Apply Poppins to all elements by default
	* {
		font-family: 'Poppins', sans-serif;
	}
}
